html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App,
.display {
  margin-top: 1%;
}

.header {
  text-align: center;
  padding: 2rem;
}

.banner-text {
  position: absolute;
  top: 10%;
}

.signin {
  padding: 2rem 5rem;
}

.container-md {
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

a {
  display: contents;
}

.instagram,
.facebook {
  margin: 1rem 0;
  padding: 1rem 0.5rem;
}

.display {
  display: flex;
  flex-direction: column;
}

.big-picture {
  justify-content: center;
  width: auto;
  max-height: 40rem;
}

.grid-pictures {
  justify-content: space-around;
}

.item {
  display: flex;
  justify-content: center;
  height: inherit;
  width: max-content;
  margin: 0 1% 1%;
}

.header_img {
  width: 95%;
  height: 20rem;
  z-index: -10;
}

img{
  width: 222px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px;
  transition: 1s;
}

img:hover {
  width: 242px;
  height: 270px;
  box-shadow: 4px 4px 50px 10px;
}

@media(max-width: 950px) {
  .signup-container {
    display: flex;
    justify-content: center;
  }
}
